<!doctype html>
<html lang="en">
  <% include blocks/head.ejs %>
  <body>
      <% include blocks/headers.ejs %>
    this new <%= newsId %>



    
    <% include blocks/script.ejs %>
  </body>
</html>