<!doctype html>
<html lang="en">
  <% include blocks/head.ejs %>
  <body>
      <% include blocks/headers.ejs %>
  
      <form method="POST" action="/index">
          
          <h1>lol</h1>
          <p><%= data.inlineRadioOptions %></p>

       
    
    <% include blocks/script.ejs %>
  </body>
</html>